*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #f0f8ff;
  --text-color: #2c3e50;
  --second-color: #f39c12;
  --main-color: #28c569;
  --link-hover-color: #bcf4b9;
  --font-family: 'Roboto', sans-serif;
  --big-font: 3rem;
  --h2-font: 2rem;
  --p-font: 1.125rem;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* ------------------ Navbar ------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header .logo img {
  max-width: 80px;
}

.navbar {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.navbar li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: var(--p-font);
}

.navbar li a:hover {
  color: var(--link-hover-color);
}

.navbar li:hover {
  transform: translateY(-3px);
  transition: color 0.3s ease, transform 0.3s ease-in-out;
}

.icons {
  display: flex;
  align-items: center;
}

.icons i {
  margin-left: 15px;
  font-size: 24px;
  color: var(--text-color);
  margin-right: 15px;
}

.icons i:hover {
  transform: translateY(-3px);
  transition: color 0.3s ease, transform 0.3s ease-in-out;
  color: var(--link-hover-color);
}

#menu {
  font-size: 34px;
  color: var(--text-color);
  z-index: 100001;
  cursor: pointer;
  display: none;
}

/* ------------------ Main body ------------------- */

section {
  padding: 50px 12%;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  align-items: center;
}

.home-text h1{
  font-size: var(--big-font);
  margin: 15px 0 15px;
}

.home-text h5 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.home-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 500;
  margin-bottom: 30px;
}

.home-img img{
  width: 100%;
  height: auto;
}

.latter form {
  width: 100%;
  max-width: 450px;
  position: relative;
}

.latter form input:first-child{
  display: inline-block;
  width: 100%;
  outline: none;
  padding: 16px 10px 16px 15px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
}

.latter form input:last-child {
  position: absolute;
  display: inline-block;
  border: none;
  outline: none;
  background: var(--main-color);
  color: var(--bg-color);
  padding: 16px 0px 16px 0px;
  border-radius: 30px;
  cursor: pointer;
  top: 2px;
  right: 1px;
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100000;
  padding: 12px 13%;
}

.container{
  padding: 70px 13%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,auto));
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.container-box{
  display: flex;
  align-items: center;
  gap: 1rem;
  border:  1px solid #e9ecef;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: 6px 4px 5px rgba(0, 0, 0, 0.1);;
  transition: all .40s ease;
}

.container-box:hover{
  transform:translateY(-15PX);
}
.container-text h4{
  font-size: 20px;
  font-weight:700 ;
  margin-bottom: 4px;
}
.container-text P{
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
}

/* =============== category ================ */

.center-text {
  text-align: center;
}

.center-text h5 {
  color: var(--main-color);
  font-size: small;
  font-weight: 600;
  letter-spacing: 1px; 
  margin-bottom: 20px;
}

.center-text h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
}

.category-content{
  padding: 70px 13%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,auto));
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-top: 4rem;
}

.box img {
  height: 190px;
  width: 210px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.box{
  padding: 25px 60px ;
  border:  1px solid #e9ecef;
  border-radius: 20px;
  box-shadow:  4px 5px rgba(0, 0, 0, 0.1);
  transition: all .40s ease;
}

.box:hover {
  transform: translateY(-15PX);
}

.box h3{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
  transition: all .40s ease;
  color: var(--main-color);
}

.main-btn {
  text-align: center;
  margin-top: 4rem;
}

.btn{
  display: inline-block;
  padding: 16px 30px;
  font-size: var(--p-font);
  font-weight: 700;
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 30px;
  transition: all .40s ease;
}
.btn:hover{
  transform: translateY(-10px);
  box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  background: var(--link-hover-color);
}


.courses{
  grid-template-columns: repeat(auto-fit,minmax(400px,auto));
  gap: 2rem;
  align-items: center;
  margin-top:4rem;
  cursor: pointer;
  border-radius: 15px;
}

.row{
  margin-top: 20px;
  background: var();
  padding: 0px 0px 10px 0px;
  border-radius: 20px;
  transition: all .40s ease;
  width: fit-content;
}

.row img{
  height: 290px;
  object-fit: cover;
}

.row:hover{
  transform: translateY(-15px);
}

.course-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses-text h2 {
  font-size: var(--h2-font);
  color: var(--text-color);
  text-align: center;
}

.contact{
  padding: 60px 13%;
  background: var(--bg-color);

}
.main-contact{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,auto));
  gap: 2rem;
}
.contact-content img{
  height: auto;
  width: 70px;
  max-width: 100%;
  margin-bottom: 30px;
}
.contact-content li{
  margin-bottom: 18px;
}
.contact-content li a{
  /* display: block; */
  color: var(--text-color);
  font-weight: 500;
  font-size: 15px;
  transition: all .40s ease;
}
.contact-content li a:hover{
  transform:translateX(10px);
  color: var(--main-color);
}
.last-text p{
  text-align: center;
  padding: 18px;
  color: var(--second-color);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.last-text{
  background-color: var(--main-color);
}

@media (max-width: 1024px) {
  header {
    padding: 1rem 2rem;
  }
  
  .navbar {
    gap: 1rem;
  }

  .home {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  form {
    margin-left: 140px;
  }

  .container {
    margin-top: 70px;
  }

  .container-box {
    display: flex;
    flex-direction: column;
  }
  
  .home-text h1 {
    font-size: 2.5rem;
  }

  .latter form {
    width: 90%;
  }

  .contact {
    padding: 0;
  }

  .main-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contact-content li a{
    font-weight: 600;
    font-size: 18px;
  }

  .last-text p{
    margin: 0px;
    font-size: 20px;
  }
  
  .container, .category-content, .course-content, .main-contact {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 99999;
  right: 4rem;
  top: 100px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 240px;
}

.dropdown-menu li {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-menu li a {
  color: var(--text-color);
  font-weight: 600;
}

.dropdown-menu li a:hover{
  color: var(--link-hover-color);
}

@media (max-width: 768px) {
  .navbar {
    gap: 0.5rem;
  }

  .navbar{
    display: none;
  }

  .dropdown-menu {
    display: inline;
  }


  .home-img img{
    height: 300px;
  }

  .container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
  }

  .home-text h1 {
    font-size: 2rem;
  }
  
  section, .container, .category-content, .course-content, .main-contact {
    padding: 20px 5%;
  }
  
  .icons {
    display: flex;
    gap: 0.5rem;
  }
  
  .center-text h2 {
    font-size: 1.5rem;
  }

  #menu {
    display: inline;
  }

  .contact {
    padding: 0;
  }

  .main-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .last-text p{
    margin: 0px;
    font-size: medium;
  }

  form {
    margin-left: 100px;
  }
  
  .category-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .box img {
    height: 150px;
    width: 170px;
  }
}

@media (max-width: 480px) {
  header {
   position: relative; 
  }
  
  .navbar {
    display: none;
  }

  .logo img {
    height: 50px;
    width: 50px;
  }

  .dropdown-menu {
    right: 2px;
  }

  .home-img img {
    position: absolute;
    height: 200px;
    top: 350px;
    right: 0px;
  }

  form {
    position: absolute;
    top: 310px;
    right: 90px;
  }

  .latter form input:last-child {
    padding: 10px 0px;
    position: absolute;
    left: 160px;
  }

  .contact-content li a {
    font-weight: 500;
    font-size: medium;
    gap: 1px;
  }

  .latter form input:first-child {
    padding: 10px 2px;
  }

  .container {
    margin-top: 190px;
  }


  .container-img img {
    height: 20vh;
    gap: 0px;
  }

  .container-box {
    display: flex;
    align-items: center;
    justify-content: center
  }

  #menu {
    display: inline;
  }

  .home-text h1 {
    font-size: 1.5rem;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
  }

  .row {
    padding: 0 3px;
    display: flex;
    flex-direction:column ;
  }

  .contact {
    padding: 0;
  }

  .main-contact {
    display: flex;
    align-items: center;
  }

  .last-text p{
    margin: 0px;
    font-size: medium;
  }

  .row img {
    height: 150px;
  }

  .btn {
    font-size: 0.875rem;
    padding: 12px 24px;
  }

  .main-contact {
    grid-template-columns: 1fr;
  }
}